.search {
    position: relative;
}

.search > input {
    border: 1px solid grey;
    border-radius: 5px;
    height: 25px;
}

.dropDownList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    width: 300px;
    position: absolute;
    top: 30px;
    left: 40px;
}

.dropDownList > li:not(:first-child) {
    border-top: 1px solid black;
}

.dropDownList > li {
    cursor: pointer;
    padding: 5px 10px
}

.dropDownList > li:hover {
    background-color: rgb(200, 200, 200);
}

.countryLabel {
    display: inline-block;
    margin-left: 10px;
}